<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTL Practice</title>
</head>
<body>
    <h1>***DTL Practice***</h1>
    <hr>
    <h1>1.WAP to check the number is equal to 100 or not.</h1>
    <hr>
    <!-- {{a}} -->
    <!-- {% if a >= 100 %}
    <h1>{{a}} is greater than and equal to 100.</h1>
    {% else %}
    <h1>{{a}} is not equal to 100.</h1>
    {% endif %} -->
    <hr>
    <h1>2.Write to check smallest in two numbers. </h1>
    <!-- <hr>

    {% if a > b %}
    <h1>{{a}} is greater than {{b}}</h1>
    {% else %}
    <h1>{{b}} is greater than {{a}}</h1>
    {% endif %} -->
    <hr>
    <h1>3.wap to find the greatest among three numbers.</h1>
    <hr>
    {% if a > b and a > c %}
    <h1>{{a}} is greatest among {{b}} and {{c}}</h1>
    {% elif b > a and b > c %}
    <h1>{{b}} is greatest among {{a}} and {{c}} </h1>
    {% else %}
    <h1>{{c}} is greatest among {{a}} and {{b}} </h1>
    {% endif %}


</body>
</html>